@import "~materialize-css/dist/css/materialize.min.css";

input#login {
    color:#26a69a
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.chat-box {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.chat {
    border: 1px solid transparent;
    border-radius: 5px;;
}
.chat-item {
    border: none;
}
.chat-item:focus {
    background-color : red;
}
textarea {
    focus: none;
}

.message-time {
    float: right;
    font-size: 16pt;
    border: 1px solid rgba(204, 204, 204, 0.404);
    border-radius: 5px;
    padding: 5px;
}

.copy {
    background-color: transparent;
    padding: 2px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 10px;

    margin-top: -2px;
}
.copy:hover {
    cursor: pointer;
    background-color: rgba(204,204,204, 0.5);
}

.switcher:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.4)
}

.btn-member {
    background-color: transparent;
    color: black;
    border: 1px transparent;
    box-shadow: none;
    font-size: 10px;
    padding: 0 10px;
}

.btn-member:hover {
    background-color: rgba(204, 204, 204, 0.4);
    color: black;
    border: 1px transparent;
    box-shadow: none;
    font-size: 10px;
    padding: 0 10px;
}

#newMessage {
    width: 70%;
    padding-left: 15px;
}

#newMessageTtl {
    width: 50px;
    
    border: 3px solid #555555;
    border-radius: 5px;
    text-align: center;
    position: absolute;
}